<a href="https://colab.research.google.com/github/the-ml-bull/01_hello_world/blob/main/01_hello_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd 

url = 'https://raw.githubusercontent.com/the-ml-bull/01_hello_world/main/Fx60.csv'
df = pd.read_csv(url)
df.head()

,ix,date,fill_type,audusd_open,audusd_high,audusd_low,audusd_close,audusd_volume,eurusd_open,eurusd_high,eurusd_low,eurusd_close,eurusd_volume
0,0,2/01/2015 10:00,given,0.81382,0.81450,0.81366,0.81427,4259.0,1.20554,1.20690,1.20443,1.20467,4626.0
1,1,2/01/2015 11:00,given,0.81431,0.81449,0.81353,0.81413,4231.0,1.20467,1.20600,1.20385,1.20573,4787.0
2,2,2/01/2015 12:00,given,0.81416,0.81422,0.81261,0.81303,3791.0,1.20574,1.20574,1.20418,1.20503,3276.0
3,3,2/01/2015 13:00,given,0.81302,0.81321,0.81152,0.81182,3897.0,1.20503,1.20577,1.20443,1.20535,3441.0
4,4,2/01/2015 14:00,given,0.81186,0.81197,0.81071,0.81111,3648.0,1.20531,1.20542,1.20347,1.20377,3323.0

                                     <!DOCTYPE html>
0  <html lang="en" data-color-mode="auto" data-li...
1                                             <head>
2                             <meta charset="utf-8">
3    <link rel="dns-prefetch" href="https://githu...
4    <link rel="dns-prefetch" href="https://avata...